@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --josefin-font: 'Josefin Sans', sans-serif;
    --white: #fff;
    --black-gray: #454545;
    --purple: #6a0ec2;
    --purple-light: #b474ef;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--josefin-font);
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url('./img/agave-in-pot.png');
    background-size: cover;
    background-position: left;
}

.content{
    width: 80%;
    height: 18vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h2{
    font-size: 2em;
    letter-spacing: 1px;
    color: var(--purple);
}

.content ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
}

.content ul li a{
    text-decoration: none;
    color: var(--purple);
    transition: .4s;
}

.content ul li a:hover{
    color: var(--purple-light);
    border-bottom: 1px solid var(--purple-light);
}

.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 4em;
    margin: 20px 0 20px;
    color: var(--purple);
}

h3{
    color: var(--black-gray);
    font-size: 3.8em;
    font-weight: 400;
}

h4{
    color: var(--black-gray);
    font-size: 3.8em;
    font-weight: 400;
    margin-bottom: 20px;
}

p{
    font-size: 1.1em;
    margin-bottom: 40px;
    color: var(--purple);
}

button{
    background-color: var(--purple);
    padding: 12px 36px;
    border: 2px solid transparent;
    border-radius: 32px;
    color: var(--white);
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: 2px solid var(--purple);
    color: var(--purple);
}

.sidebar{
    position: absolute;
    width: 60px;
    height: 340px;
    background-color: var(--white);
    border-radius: 12px;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    text-align: center;
}

.box{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: flex-end;
    margin: 5px auto;
}

.text{
    display: flex;
    background-color: var(--purple);
    height: 100%;
    min-height: 0px;
    margin-right: 5px;
    line-height: 0;
    color: var(--white);
    justify-content:center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.icon{
    height: 100%;
    min-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.icon i{
    color: var(--purple);
    font-size: 1.1em;
    line-height: 50px;
}

.box:hover .icon{
    background-color: var(--purple);
}

.box:hover .icon i{
    color: var(--white);
}

.box:hover .text{
    min-width: 120px;
}

.hamburger{
	position:fixed;
    background-color:transparent;
	right:0;
	top:0;
	height:30px;
	width:30px;
	padding:60px 74px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
    display: none;
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background: var(--purple);
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}
        /* style responsive desing */

@media(max-width:1024px){
   .hamburger{
    display: inherit;
   }
   .content{
    display: none;
   }
}